body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	margin: 0;
	padding: 20px;
}

.response-container,
.form-container,
.container {
	max-width: 600px;
	margin: auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	box-shadow: 0 0 10px #146e4c53;
	border-radius: 12px;
	text-align: center;
}

.home-link {
	display: block;
	margin-bottom: 20px;
	color: #007bff;
	text-align: left;
}

.home-link a:hover {
	color: #d6eaff;
}

.response-container {
	max-width: 600px;
	border-color: black;
	text-align: left;
	border-width: 1px;
	text-wrap: pretty;
}

.response-box {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

.start-button,
.back-button,
.submit-button {
	background-color: #28a745;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.submit-button :hover {
	background-color: #0056b3;
}


h2,
p {
	margin-bottom: 10px;
}